.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.divider-line {
    height: 40vw;
    width: 1px;
    background-color: var(--color-sub);
    margin: 0 3%;
}

#logo {
  width: 100%;
}

#loginLink,
#signUpBtn {
    flex: 1 1 auto;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

.lsButton {
    background-color: var(--color-sub-2);
    white-space: nowrap;
    outline: none;
    border: none;
    padding: 3% 1%;
    width: 100%;
}

.login-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

#signUpForm {
  background-color: var(--color-sub);
  padding: 8%;
  width: 100%;
}

.signUpInput {
  margin: 2% 2% 2% 0;
  border-radius: 100px;
  width: 100%;
  padding: 2% 7%;
  font-size: 1.5rem;
  border: none;
}

.signUpInput:focus {
  box-shadow: 2px 2px 2px 2px black;
  outline: none;
}


.signUpSubmit {
  padding: 3%;
  border-radius: 100px;
  background: var(--color-button);
  border: none;
  margin-top: 5%;
  font-size: 1.5rem;
}

.nav-buttons {
    width: 100%;
    display: flex;
}

.active-link {
    background-color: var(--color-sub);
}

.input-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon-container:focus-within {
    box-shadow: 2px 2px 2px 2px black;
}

.password-input {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    border: none;
    outline: none;
}

.password-icon {
    flex: 0 0 auto;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 1253px) {
    .container-fluid {
        padding: 5%;
    }

    .login-signup,
    .signUpSubmit,
    .signUpInput {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 991px) {
    .divider-line {
        display: none;
    }
    
    #logo {
        padding: 5% 0;
        width: 75%;
    }

    .login-signup {
        padding: 5% 10%;
    }

    .login-signup,
    .signUpSubmit,
    .signUpInput {
        font-size: 0.9rem;
    }
}

