.container-fluid {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--color-font);
    box-sizing: border-box;
    padding: 2% 4%;
}

.coin-container {
    padding: 0 0 0 25px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 80px;
    width: 100%;
}

.coin-title-price {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.coin-title {
    font-weight: 400;
    font-size: 2rem;
    width: 450px;
}

.coin-price {
    font-weight: 900;
    font-size: 1rem;
}

.coin-add {
    margin-right: 5%;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 0.2s ease;
}

.coin-add:hover,
.coin-add:focus {
    background-color: black;
    transform: scale(1.05);
}

@media only screen and (max-width: 700px) {
    .coin-container {
        flex-direction: column;
        height: 100px;
    }
    
    .coin-title {
        font-size: 1.25rem;
        width: 100%;
    }
    
    .coin-add {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 1240px) {
    .container-fluid {
        padding: 20px 30px;
    }
}
