html {
  --color-background: #2c2c2c;
  --color-sub: #979797;
  --color-sub-2: #e5e5e5;
  --color-button: #e9e9e9;
  --color-font: #ffffff;
}

body {
  background-color: var(--color-background);
  margin: 0;
}
