.root {
    width: 100%;
    height: 100%;
}

.loading {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center;
    align-items: center;
    width: 100%;
}

.history-button {
    padding: 2px;
    margin: 5px 0;
    transition: all 0.2s ease;
}

.history-button:hover,
.history-button:focus {
    cursor: pointer;
    background-color: var(--color-sub-2);
    color: var(--color-font-inv);    
}

.active {
    background-color: var(--color-sub-2);
    color: var(--color-font-inv);
}