.root {
    width: 100%;
    margin-top: 10px;
    border-top: solid 1px white;
    padding-top: 20px;
}

ul {
    display: table;
}

li {
    list-style-type: none;
    display: table;
    float: left;
    width: 50%;
    font-size: 18px;
    padding-right: 35px;
    margin-bottom: 10px;
}

li * {
    float: left;
}

.category {
    width: 40%;
}

.value {
    width: 60%;
    text-align: right;
}

@media screen and (max-width: 1680px) {
    
    li * {
        width: 100%;
        float: none;
    }

}